<div>Enter your ingredients list seperated by a space, or just say what you have!</div>
<textarea class="js-recipe--search recipe--search" required="required"></textarea>
<div class="recipe--search__wrapper  home__buttons">
    <div class="js-recipe--search--audio  recipe--search--audio  btn">&#xe301;</div>
    <div class="js-recipe--search--advanced advanced  btn">Advanced Search</div>
</div>
<div class="js-recipe--search--advanced-options hidden">
    <label for="vegetarian">Vegetarian</label>
    <input type="checkbox" name="vegetarian" value="allowedDiet[]=387^Lacto-ovo+vegetarian">
    <label for="vegan">Vegan</label>
    <input type="checkbox" name="vegan" value="allowedDiet[]=386^Vegan">
    <label for="gluten">Gluten Free</label>
    <input type="checkbox" name="gluten" value="allowedAllergy[]=393^Gluten-Free">
</div>
