@import url(https://fonts.googleapis.com/css?family=Kreon:400,700);

@font-face{
    font-family:'FontAwesome';
    src:    url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src:    url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
            url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
            url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
            url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
            url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg'); }

html, body
{
    height:                         100%;
    /* The html and body elements cannot have any padding or margin. */
    -webkit-font-smoothing:         antialiased;
    font:                           normal 14px arial, sans-serif;
}


.row
{
    margin-left:                    0px;
    margin-right:                   0px;
}


/* Wrapper for page content to push down footer */
#wrap
{
    min-height:                     100%;
    height:                         auto !important;
    height:                         100%;
    /* Negative indent footer by its height */
    margin:                         0 auto -60px;
    /* Pad bottom by footer height */
    padding:                        0 0 60px;
}


/* Set the fixed height of the footer here */
#footer
{
    height:                         60px;
    margin-top:                     50px;
    padding-top:                    20px;
    padding-bottom:                 20px;
}


/* Custom page CSS
-------------------------------------------------- */

#wrap > .container
{
    padding:                        60px 15px 0;
}


.container .credit
{
    margin:                         20px 0;
}


#footer
{
    background-color:               #414141;
}


#footer a
{
    color:                          #efefef;
}


h1, h2, h3, h4
{
    font-family:                    'Kreon', serif;
    vertical-align:                 middle;
}


header
{
    background:                     url( '../img/food-rainbow.png' ) no-repeat center 0 fixed;
    height:                         330px;
    color:                          #fff;
}


header h1, header h2, header h3 a, header a, header a:hover
{
    color:                          #101010;
    font-weight:                    800;
    text-decoration:                none;
}


header h3
{
    font-family:                    'Kreon', serif;
    background:                     #16A453;
    padding:                        10px;
    border-radius:                  3px;
    font-size:                      34px;
    padding:                        12px 10px 6px 10px;
}


header .dropdown-menu
{
    top:                            74px;
    background:                     #16A453;
    border-width:                   0;
}


#wrap > .container
{
    padding-top:                    20px;
}


.recipe--search__wrapper
{
    height:                         100px;
}


.recipe--search__wrapper .home__buttons
{
    display:                        inline-block;
}


.recipe--search__wrapper .home__buttons div
{
    position:                       relative;
    left:                           5px;
}


.recipe--search
{
    width:                          300px;
    margin-top:                     13px;
    height:                         90px;
    border:                         3px solid #2E2D2E;
    padding:                        5px;
    overflow:                       auto;
    resize:                         none;
    height:                         100px;
}


.recipe--search--audio
{
    background:                     transparent url(../img/glyphicons_300_microphone-white.png) no-repeat center center;
}


.recipe--search--audio:hover
{
    background:                     transparent url(../img/glyphicons_300_microphone.png) no-repeat center center;
    color:                          transparent;
}


.recipe--search--audio:before
{
    content:                        '\f130';
    display:                        block;
}


.recipe--search:focus
{
    border:                         #000 2px solid;
}


.recipe--results
{
    margin-top:                     30px;
}


.buttons button
{
    background-color:               #2E2D2E;
    color:                          #fff;
    border:                         none;
    width:                          calc(50% - 2px);
    margin-top:                     3px;
}


.home__buttons
{
    display:                        inline-block;
    margin-top:                     10px;
    text-align:                     center;
    width:                          200px;
}


header .home__buttons
{
    float:                          right;
}


.home__buttons div
{
    padding:                        10px;
    background-color:               #16A453;
    width:                          200px;
    float:                          right;
    margin-top:                     5px;
    cursor:                         pointer;
    font-size:                      20px;
    font-weight:                    bold;
    color:                          #fff;
}


.home__buttons div:first-child
{
    margin-top:                     0;
}


.paypal--login
{
    margin-top:                     5px;
    color:                          transparent !important;  
    padding:                        35px 85px 35px 85px;
    border:                         2px #279DD5 solid;
    border-radius:                  5px;
    background:                     #fff url(../img/paypalLogin.png) no-repeat center center !important;
    height:                         70px;
    width:                          140px;
}


.paypal--login:hover
{
    border-color:                   #1A94D2;
}


.dropdown-toggle
{
    background-color:               transparent;
    border:                         none;
}


.home__buttons div:hover
{
    background-color:               #eee;
}


.glyphicon
{
    color:                          #fff;
}


.copy
{
    font-size:                      1.3rem;
}


.bg-1 h2, .bg-3 h2
{
    padding:                        20px;
    background-color:               rgba( 5, 5, 5, 0.8);
}


h1
{
    font-size:                      50px;
}

#nav
{
    width:                          100%;
    position:static;
    top:                            -32px;
}

#nav.affix
{
    position:                       fixed;
    top:                            0;
    z-index:                        10;
    -webkit-transition:             all 0.6s ease-in-out;
    -moz-transition:                all 0.6s ease-in-out;
    -ms-transition:                 all 0.6s ease-in-out;
    -o-transition:                  all 0.6s ease-in-out;
    transition:                     all 0.6s ease-in-out;
}


.page-header
{
    margin-top:                     0;
}


@media (min-width: 767px) {
  .navbar-nav.nav-justified > li
  {
        float:                      none;
  }
}


.waste--not__logo
{
    background:                 url('../img/waste-not.png') no-repeat 0 0;
    -webkit-background-size:    contain;
    -moz-background-size:       contain;
    -o-background-size:         contain;
    background-size:            contain;
    height:                     150px;
    width:                      150px;
}


.masthead .lead
{
    position:                   relative;
    top:                        -130px;
    left:                       200px;
    font-size:                  2rem;
}


.navbar-nav
{
    margin:                         1px 1px;
}


.navbar-custom
{
    background-color:               #2e2e2e;
    font-weight:                    700;
    text-transform:                 uppercase;
    border-width:                   0;
}


.navbar-custom  .navbar-nav > li > a
{
    color:                         #ddd;
}


.navbar-custom  .navbar-nav li > a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a
{
    background-color:              #000;
}


.navbar-custom .dropdown-menu
{
    right:                         0;
}


.navbar-custom .navbar-nav > .dropdown > a .caret
{
    border-top-color:              #999;
    border-bottom-color:           #999;
}


.dropdown-menu > li > a
{
    -webkit-transition:             background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    -moz-transition:                background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    -ms-transition:                 background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition:                  background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    transition:                     background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}


.dropdown-menu > li > a:hover
{
    background-color:               #000;
    color:                          #fff;
}


.navbar-collapse.in
{
    overflow-y:                     visible;
}


.navbar-toggle
{
    outline:                       0;
}


.divider
{
    height:                        100px;
}


.panel
{
    border-width:                  0;
}


@media (max-width: 768px) {
    header
    {
        height:                   95px;
    }
}


#map-canvas
{
    width:                       100%;
    height:                      300px;
    margin:                      0;
    padding:                     15px;
}


.scroll-top
{
    position:                   fixed;
    bottom:                     0;
    right:                      6%;
    z-index:                    100;
    background:                 #16A453;
    font-size:                  24px;
    border-top-left-radius:     3px;
    border-top-right-radius:    3px;
}


.scroll-top a:link, .scroll-top a:visited
{
    color:                      #222;
}


section
{
    color:                      #fff;
    min-height:                 400px;
    height:                     auto !important;
    height:                     100%;
    padding-top:                100px;
}


.global--food--waste
{
    background:                 url('../img/global-food-loss.png') no-repeat center 0;
    height:                     700px;
    width:                      100%;
    margin-left:                0;
}


.tech--slide
{
    text-align:                 center;
}


.tech--slide__img
{
    width:                      85%;
}


.bg-cover
{
    background:                 url('') no-repeat center center fixed;
    -webkit-background-size:    cover;
    -moz-background-size:       cover;
    -o-background-size:         cover;
}


.bg-1
{
    background-image:           url('../img/food-trash.png');
    -webkit-background-size:    100%;
    -moz-background-size:       100%;
    -o-background-size:         100%;
    background-size:            100%;
}


.bg-2
{
    background-image:           url('//www.bootply.com/assets/example/bg_5.jpg');
}


.bg-3
{
    background-image:           url('//www.bootply.com/assets/example/bg_6.jpg');
}


.bg-4
{
    padding-top:                30px;
    background-image:           -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.2)),to(rgba(255,255,255,0)), color-stop(1,#000));
}


.hidden
{
    display:                    none !important;
}
